:focus {
    outline: none !important;
    box-shadow: none !important;
}

body label {
    font-weight: 400;
}

textarea {
    resize: none;
}

.bottom-block {
    position: relative;
}

.bottom-block .typing {
    position: absolute;
    top: -4px;
    font-size: 15px;
    left: 22px;
    color: #FF485A;
}

.open-button {
    border: 0;
    display: block;
    max-width: 162px;
    width: 100%;
    position: fixed;
    right: 20px;
    bottom: 0;
    padding: 20px 25px;
    font-size: 14px;
    background-image: url(../img/icon-chat.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    text-align: right;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 18px;
    border: 0px solid #f1f1f1;
    max-width: 360px;
    width: 100%;
    z-index: 9;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.chatTitle {
    background-image: url(../img/icon-chat.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    padding-left: 75px;
}

.login-block .chatTitle {
    font-size: 22px;
    font-weight: bold;
    border: 0 none;
}

.form-control {
    box-shadow: none;
    border-radius: 10px;
}

.btn-cancel {
    border: 0;
    position: absolute;
    right: 18px;
    top: 19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: block;
    padding: 0;
    font-weight: bold;
}

label.error {
    color: #dc3545;
    font-size: 12px;
}

.msg-block {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%;
    float: right;
    font-size: 15px;
    line-height: 1.5;
}

.msg-block.admin-message {
    float: left;
}

.chat-outer-scroll {
    max-height: 350px;
    min-height: 300px;
    overflow: auto;
}

.h-100 {
    height: 100vh !important;
}

.login-bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: left top;
}

.txt-tag-line {
    margin-top: 40px;
}

@media(min-width:991px) {
    .txt-tag-line {
        padding-top: 250px;
        padding-left: 220px;
    }
}

.txt-tag-line p {
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
}

.txt-tag-line small {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    background: url(../img/icon-smile.png) no-repeat left center;
    padding: 25px 0px 25px 80px;
}

#regiForm {
    display: none;
}

.message-outer-block {
    padding-bottom: 20px;
}

.message-outer-block .message-inner-block {
    height: calc(100vh - 500px);
    overflow: auto;
}

.left-sidebar {
    min-width: 300px;
    padding-left: 20px;
    height: calc(100vh - 63px);
    transition: all 0.3s;
}

.left-sidebar .user-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-sidebar .user-list li {
    padding: 3px 5px;
    border-radius: 23px 0 0 23px;
}

.left-sidebar .user-list li.active, .left-sidebar .user-list li:hover {
    color: #FF485A;
    background: rgba(255, 72, 90, 0.10);
}

.left-sidebar .inner {
    overflow: auto;
    max-height: calc(100vh - 140px);
}

.left-sidebar.active {
    margin-left: -300px;
}

@media (max-width: 768px) {
    .left-sidebar {
        margin-left: -300px;
    }
    .left-sidebar.active {
        margin-left: 0;
    }
}