/* Theme CSS */

body.light, .light .navbar-light .navbar-nav .nav-link {
    color: #303030;
}

body.dark, .dark .navbar-light .navbar-nav .nav-link {
    color: #fff;
}
body.light{
    background-color: #F2F3F8;
}
body.dark{
    background-color: #2A2D31;
}
.light .bg{
    background: #fff;
}
.dark .bg{
    background: #34393E;
}
.dark .open-button {
    background-color: #34393E;
    color: #fff;
}

.light .open-button {
    background-color: #fff;
    color: #303030;
}

.dark .chat-popup {
    background: #42474C;
}

.light .chat-popup {
    background: #fff;
}

.dark .form-control {
    background-color: #363B41;
    color: #fff;
    border-color: #42474C;
}

.dark .btn-cancel {
    background: #fff;
}

.light .btn-cancel {
    background: #000;
    color: #fff;
}

.dark .msg-block.admin-message {
    background: #595d63;
    border-color: #595d63;
}

.light .msg-block.admin-message {
    background: #f8f9fb;
    border-color: #f8f9fb;
}
.light .bottom-block {
    background: #F7F9FA;
}
.dark .bottom-block {
    background: #545a61;
}

/* Login Screen */

.light.login-bg {
    background-image: url(../img/light-theme-bg.png);
}

.dark.login-bg {
    background-image: url(../img/dark-theme-bg.png);
}

.light .login-block {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f3f8+0,ffffff+100&1+0,0.25+100 */
    background: -moz-linear-gradient(top, rgba(242, 243, 248, 1) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242, 243, 248, 1) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242, 243, 248, 1) 0%, rgba(255, 255, 255, 0.25) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f3f8', endColorstr='#40ffffff', GradientType=0);
    /* IE6-9 */

}

.dark .login-block {
    background: rgba(42, 45, 49, 0.5);
}
.light .navbar{
    background: #fff;
}
.dark .navbar{
    background:#34393E;
}
.light .left-sidebar{background: #fff;}
.dark .left-sidebar{background: #34393E;}